//
// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant
//

@function gtkalpha($c, $a) {
  @return unquote("alpha(#{$c}, #{$a})");
}

@function gtkopacity($c, $a) {
  @return scale-color($c, $alpha: percentage(-1 + $a));
}


//
// A Color palette
//
// Adapta uses google's palette:
// [https://www.google.com/design/spec/style/color.html#color-color-palette]
//


// Import key colour-scheme defined at build-time.
@import 'key_colors';


//
// Foreground colors
//

$fg_color: if($variant == 'light', #282828,                     // = BluGry900
                                   #EBDBB2);                    // = BluGry100
$secondary_fg_color: gtkopacity($fg_color, 0.75);
$tertiary_fg_color: gtkopacity($fg_color, 0.5);

$selected_fg_color: #F9F5D7;                                    // = White
$secondary_selected_fg_color: gtkopacity($selected_fg_color, 0.85);
$tertiary_selected_fg_color: gtkopacity($selected_fg_color, 0.7);

$insensitive_fg_color: gtkopacity($fg_color, 0.3);
$insensitive_secondary_fg_color: gtkopacity($secondary_fg_color, 0.3);
$insensitive_tertiary_fg_color: gtkopacity($tertiary_fg_color, 0.3);

$insensitive_selected_fg_color: gtkopacity($selected_fg_color, 0.4);
$insensitive_secondary_selected_fg_color: gtkopacity($secondary_selected_fg_color, 0.4);
$insensitive_tertiary_selected_fg_color: gtkopacity($tertiary_selected_fg_color, 0.4);

// preview text on empty GtkEntry
$placeholder_text_color: #928374;                               // = BluGry400


//
// Inverted foreground colors
//

$inverted_fg_color: #EBDBB2;                                    // = BluGry100
$inverted_secondary_fg_color: gtkopacity($inverted_fg_color, 0.75);
$inverted_tertiary_fg_color: gtkopacity($inverted_fg_color, 0.5);

$insensitive_inverted_fg_color: gtkopacity($inverted_fg_color, 0.3);
$insensitive_inverted_secondary_fg_color: gtkopacity($inverted_secondary_fg_color, 0.3);

$fixed_fg_color: #282828;                                       // = BluGry900
$secondary_fixed_fg_color: gtkopacity($fixed_fg_color, 0.75);
$tertiary_fixed_fg_color: gtkopacity($fixed_fg_color, 0.5);
$insensitive_fixed_fg_color: gtkopacity($fixed_fg_color, 0.3);


//
// Background colors
//

$bg_color: if($variant == 'light', mix(#EBDBB2, #F9F5D7, 75%),  // = W _ 50
                                   mix(#1D2021, #282828, 50%));                    // = BluGry900
$base_color: if($variant == 'light',
                #F9F5D7,                                        // = White
                mix(#282828, #3C3836, 85%));                    // = 900 _ 800
$secondary_base_color: mix($base_color, $bg_color, 50%);        // = W _ 50
$light_color: if($variant == 'light',
                 $base_color,                                   // = White
                 mix(#282828, #3C3836, 50%));                   // = 900 _ 800
$dark_color: if($variant == 'light',
                mix(#FBF1C7, #EBDBB2, 25%),                     // =  50 _ 100
                mix(#282828, #1D2021, 60%));                    // = 900 _ Blk
$secondary_dark_color: if($variant == 'light',
                          mix(#F9F5D7, #F2E5BC, 35%),           // = W _ 50
                          mix(#282828, #1D2021, 65%));          // = 900 _ Blk


//
// Dark background colors on light variant
//

$inverted_bg_color: #282828;                                    // = BluGry900
$inverted_base_color: mix(#282828, #3C3836, 85%);               // = 900 _ 800
$inverted_light_color: mix(#282828, #3C3836, 50%);              // = 900 _ 800
$inverted_dark_color: mix(#282828, #1D2021, 90%);               // = 900 _ Blk


//
// Light background colors on dark variant
//

$fixed_base_color: #F9F5D7;                                     // = White


//
// Selection (primary) colors
//

// Default: #458588                                             // = Cyan500
$selected_bg_color: $key_selection_color;
// Default: #83A598                                             // = Cyan300
$secondary_selected_bg_color: $key_secondary_selection_color;


//
// Accent (secondary) colors
//

// Default: #458588                                             // = Teal300
$accent_color: $key_accent_color;
$accent_label_color: if($variant == 'light',
                        mix($key_accent_color, $fg_color, 80%),
                        mix($key_accent_color, $fg_color, 60%));
$secondary_accent_color: gtkopacity($accent_color, 0.9);
$secondary_accent_label_color: gtkopacity($accent_label_color, 0.9);
$accent_fill_color: gtkopacity($inverted_fg_color, 0.1);
$drop_target_color: $accent_color;
$drop_target_fill_color: gtkopacity($drop_target_color, 0.2);

$inverted_accent_label_color:
  mix($key_accent_color, $inverted_fg_color, 60%);
$inverted_secondary_accent_label_color:
  gtkopacity($inverted_accent_label_color, 0.9);


//
// Tracker colors
//

$track_color: gtkalpha(currentColor, 0.2);


//
// Edge colors
//

$borders_color: if($variant == 'light', gtkopacity(#1D2021, 0.09),
                                        gtkopacity(#1D2021, 0.13));
$solid_light_borders_color: if($variant == 'light', #EBDBB2, #282828);
$solid_dark_borders_color: mix($inverted_dark_color, #1D2021, 0.06);
$top_edge_borders_color: $inverted_base_color;
$paned_borders_color: if($variant == 'light', gtkopacity(#1D2021, 0.05),
                                              gtkopacity(#1D2021, 0.07));

$highlight_color: gtkopacity(#F9F5D7, 0.07);
$menu_highlight_color: if($variant == 'light',
                       $base_color,
                       mix($secondary_base_color, #F9F5D7, 98%));

//
// Misc colors
//

$link_color: #458588;                                           // = LtBlu500
$link_visited_color: #8F3F71;                                   // = Purple500

$warning_color: #D65D0E;                                        // = Orange500
$error_color: #CC241D;                                          // = Red500
$success_color: #98971A;                                        // = GreenA400

// Default: #689D6A                                             // = Teal500
$suggested_color: $key_suggestion_color;
// Default: #FB4934                                             // = RedA200
$destructive_color: $key_destruction_color;

$info_bg_color: #689D6A;                                        // = TealA400
$question_bg_color: #FABD2F;                                    // = YellwA400
$warning_bg_color: #FE8019;                                     // = OrangA400
$error_bg_color: #FB4934;                                       // = RedA400
$solid_red: #FB4934;                                            // = Red500
$solid_yellow: #FABD2F;                                         // = Yellow500
$solid_green: #B8BB26;                                          // = Green500
$solid_blue: #458588;                                           // = Blue500


//
// Solid panel color
//

$panel_bg_color: mix(#282828, #1D2021, 50%);                    // = 900 _ Blk

